<section id="habilidades" class="bg-primary">
  <div class="container my-5">
    <h2 class="display-5 fw-medium fst-italic text-center">Stack</h2>

    <p class="mt-5 fs-5 text-center">
      Here, I'll showcase the main technologies I use to develop my projects!
    </p>

    <ul class="list-unstyled row row-cols-1 row-cols-lg-2  gy-4 mt-5">
      @for (Habilidade of listaDaHabilidades; track Habilidade.titulo) {
        <li class="col">
          <article class="d-flex align-items-center gap-4 h-100 border-bottom pb-4">
            <img width="64" height="64" [src]="Habilidade.imagem" [alt]="Habilidade.titulo" />
            <div class="d-flex flex-column">
              <h3 class="fs-4 fw-bold fst-italic text-light-emphasis">
                {{ Habilidade.titulo }}
              </h3>
              <p class="fs-5 mb-0">{{ Habilidade.descricao }}</p>
            </div>
          </article>
        </li>
      }
    </ul>
  </div>
</section>
