<section id="sobre" class="bg-light mt-5 mt-lg-0 p-4">
  <div class="container my-auto">
    <div class="row align-items-center gap-3">
      <div class="col-lg-7 order-1 order-lg-0">
        <p class="display-5 mb-1">Hello, I am <strong>Thiago Kovalski</strong></p>
        <span class="display-4 fw-bold fst-itali sobre-banner-text">Fullstack Developer!</span>
        <div class="mt-4">
          <p class="fs-5">
            I've been studying Front-End and Back-End development for the past four years. Here,
            I'll showcase the technologies I work with and some of the projects I'm most proud of!
          </p>
        </div>

        <div class="d-flex flex-column justify-content-center text-align-center">
          <p class="fs-5"><i class="bi bi-geo-alt me-4 fs-5"></i>Lages, SC - Brasil</p>

          <p class="fs-5"><i class="bi bi-envelope me-4 fs-5"></i>thiagokovalski5&#64;gmail.com</p>
        </div>
        <span class="d-flex flex-warp gap-3">
          <a target="_blank" href="https://github.com/Thig0S">
            <i class="bi bi-github fs-2 text-warning"></i>
          </a>

          <a target="_blank" href="https://www.linkedin.com/in/thiago-kovalski">
            <i class="bi bi-linkedin fs-2 text-warning"></i>
          </a>
        </span>
      </div>
      <div class="col-auto mx-auto sobre-banner-img max-vw-30">
        <img class="img-fluid" src="/img/kowalski.png" alt="foto do kowalski" />
      </div>
    </div>
  </div>
</section>
